.app {
  width: 550px;
  max-height: 375px;
  overflow: hidden;

  margin: auto;
  padding-bottom: 1.5em;

  background-color: white;
  color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;

  --color-A-plus: #569bb7;
  --color-A: #43a954;
  --color-B: #D4ED5E;
  --color-C: #efd723;
  --color-D: #F28A28;
  --color-F: #DC0D0D;

  --color-bad: var(--color-F);
  --color-medium: var(--color-D);
  --color-good: var(--color-A);

  transition: all 0.3s ease-in-out;
}


.app.hasQuality {
  max-height: 800px;
}

.app .reports {
  box-sizing: border-box;
  padding: 1.5em;
  padding-top: 0;
  width: 100%;
}

.app:not(.hasQuality) .reports {
  display: none;
}