.app {

  width: 600px;
  height: 400px;
  margin: auto;
  text-align: center;

  background-color: #eee;
  color: black;

  padding: 1em;

}

.app h1 {
  font-weight: normal;
}


.title small {
  font-weight: normal;
  font-size: 0.75em;
}