.category {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;

    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 24px;

    --color-bad: var(--color-F);
    --color-medium: var(--color-D);
    --color-good: var(--color-A);
}