.quality {
    margin: 0.5em 0 1em auto;

    display: grid;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    grid-template-areas: 
        "letter percentage"
        "disclaimer disclaimer";

    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.quality.hasQuality {
    transform: scale(1);
}

.percentage {
    font-size: 1.5em;
    grid-area: percentage;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.letter {
    font-size: 5em;
    grid-area: letter;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.disclaimer {
    text-align: center;
    
    font-size: 0.8em;
    grid-area: disclaimer;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.tooltip {
    width: 300px;
    background: white !important;
    color: black !important;
    text-align: justify;
    text-justify: inter-word;
    position: absolute !important;
    pointer-events: all !important;


    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
}

.tooltip::after {
    display: none;
}

.A-plus {
    color: var(--color-A-plus);
}

.A {
    color: var(--color-A);
}

.B {
    color: var(--color-B);
}

.C {
    color: var(--color-C);
}

.D {
    color: var(--color-D);
}

.F {
    color: var(--color-F);
}

